/* --------------------------------------------------------------------------
 * >>> Liom PAGE
 * -------------------------------------------------------------------------- */
/* PAGE Liom OFFER */
/* -------------------------------------------------------------------------- */
.liom-offer-bg{
    background: url(../images/liom/liom-mainBg.jpg) no-repeat center top / cover;
}

.lm-offer-bottom{
    max-height: 80px;
    display: flex;
    align-items: center;

    @include sm-up{
        max-height: 57px;
    }
    @include tablet-lg-up{
        height: 94px;
        max-height: 94px;
    }
}

//* Page Liom Pallete */
/* -------------------------------------------------------------------------- */

.liom-bg {
    background: url(../images/liom/liom-palleteBg.png) no-repeat center right / contain;
}

.pallete-lm-bg {
    display: inline-block;
    justify-content: center;

    span {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        width: 56px;
        height: 56px;
        background: #000;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
        0 0 0 6px rgba(0, 0, 0, 0.3),
        0 0 0 12px rgba(0, 0, 0, 0.1);
        margin-bottom: 15px;
    ;

        &.cardCol2 {
            background: #FEFEFE;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
            0 0 0 6px rgba(254, 254, 254, 0.3),
            0 0 0 12px rgba(254, 254, 254, 0.1);
        }

        &.cardCol3 {
            background: #D31920;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
            0 0 0 6px rgba(211, 25, 32, 0.3),
            0 0 0 12px rgba(211, 25, 32, 0.1);
        ;
        }

        &.cardCol4 {
            background: #F6F6F6;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
            0 0 0 6px rgba(246, 246, 246, 0.3),
            0 0 0 12px rgba(246, 246, 246, 0.1);
        }
    }

}

/* Page Liom Pages */
/* -------------------------------------------------------------------------- */


.pages-pR1>div:nth-child(1) {
    margin-bottom: 0;
}

.pages-pR1>div:nth-child(2),
.pages-pR1>div:nth-child(4) {
    margin-top: 0;
}

.pages-pR1>div:nth-child(odd) {
    margin-top: 0px;
}

.pages-pR1>div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@include tablet-lg-up{
    .pages-pR1>div:nth-child(2),
    .pages-pR1>div:nth-child(4) {
        margin-top: 180px;
    }

    .pages-pR1>div:nth-child(odd) {
        margin-top: -180px;
    }

    .pages-pR1>div:nth-child(1),
    .pages-pR1>div:nth-child(3) {
        margin-top: 0px;
    }
}

/* Page Liom Footer */
/* -------------------------------------------------------------------------- */

.liom-footer-bg {
    background: url(../images/liom/liom-footer.png) no-repeat center top / cover;
}