/* --------------------------------------------------------------------------
 * >>> Montegrappa PAGE
 * -------------------------------------------------------------------------- */

/* PAGE Montegrappa OFFER */
/* -------------------------------------------------------------------------- */
.montegrappa-bg{
    position: relative;
    padding-top: 81px;
    background: url(../images/montegrappa/montegrappa-mainBg.png) no-repeat center top / cover;
    padding-bottom: 45px;
    min-height: 90vh;
}

.mg-offer-bottom{
    max-height: 315px;

    p{
        font-size: 19px;
    }

    @include tablet-lg-up{
        height: 94px;
    }
}

.pallete-mg-bg {
    width: 60%;
    background: url(../images/montegrappa/montegrappa-palleteBg.svg) no-repeat center right / contain;
}

.color-types-mg {
    display: inline-block;
    justify-content: center;

    span {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        margin-bottom: 15px;
        width: 56px;
        height: 56px;
        background: #0B0025;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
        0 0 0 6px rgba(11, 0, 37, 0.3),
        0 0 0 12px rgba(11, 0, 37, 0.1);
    ;

        &.cardCol2 {
            background: #FEFEFE;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
            0 0 0 6px rgba(254, 254, 254, 0.3),
            0 0 0 12px rgba(254, 254, 254, 0.1);
        }

        &.cardCol3 {
            background: #F1F0FE;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
            0 0 0 6px rgba(241, 240, 254, 0.3),
            0 0 0 12px rgba(241, 240, 254, 0.1);
        ;
        }

        &.cardCol4 {
            background: #000000;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
            0 0 0 6px rgba(0, 0, 0, 0.3),
            0 0 0 12px rgba(0, 0, 0, 0.1);
        }
    }
}

/* Page Montegrappa Pages */
/* -------------------------------------------------------------------------- */
.pages-pR1 {
    a {
        display: inline-block;
    }
}

.pages-pR1>div:last-of-type {
    a {
        margin-top: 50px;
    }
}
.pages-pR1>div:first-of-type a:first-of-type{
    margin-left: 0;
}

.pages-R1info {

    &>div{
        text-align: center;
    }
    @include md-up{
        display: flex;
    }
}

.pages-R1info div a:first-of-type {
    margin-bottom: 50px;
}

/* Montegrappa Footer */
/* -------------------------------------------------------------------------- */

.montegrappa-footer-bg {
    background: url(../images/montegrappa/montegrappa-footerBg.png) no-repeat center top / cover;
}