/* --------------------------------------------------------------------------
 * >>> Doosan PAGE
 * -------------------------------------------------------------------------- */
/* PAGE Dooan OFFER */
/* -------------------------------------------------------------------------- */
.doosan-bg{
    background: url(../images/doosan/doosan-main.jpg) no-repeat center top / cover;
}

.doosan-award{
    position: absolute;
    left: 0;
    top: 200px;
}

.ds-offer-bottom{
    max-height: 102px;

    @include tablet-lg-up{
        max-height: 94px;
    }
}

//* Page Doosan Pallete */
/* -------------------------------------------------------------------------- */

.doosan-pl-bg{
    background: url(../images/doosan/doosan-palleteBg.png) no-repeat center right / contain;
}

.pallete-ds-bg {
    display: inline-block;
    justify-content: center;

    span {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        width: 56px;
        height: 56px;
        background: #FD6222;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
        0 0 0 6px rgba(253, 98, 34, 0.2),
        0 0 0 12px rgba(253, 98, 34, 0.1);
        margin-bottom: 15px;

        &.cardCol2 {
            background: #000;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
            0 0 0 6px rgba(0, 0, 0, 0.3),
            0 0 0 12px rgba(0, 0, 0, 0.1);
        }

        &.cardCol3 {
            background: #F2F2F4;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
            0 0 0 6px rgba(220, 220, 220, 0.3),
            0 0 0 12px rgba(220, 220, 220, 0.1);
        ;
        }

        &.cardCol4 {
            background: #575757;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
            0 0 0 6px rgba(87, 87, 87, 0.3),
            0 0 0 12px rgba(87, 87, 87, 0.1);
        }
    }

    p {
        padding-top: 12px;
        font-size: 12px;
        color: #AFAFAF;
    }
}


/* Page Doosan Pages */
/* -------------------------------------------------------------------------- */

.pages-pR1>div:nth-child(1) {
    margin-bottom: 0;
}

.pages-pR1>div:nth-child(2),
.pages-pR1>div:nth-child(4) {
    margin-top: 0;
}

.pages-pR1>div:nth-child(odd) {
    margin-top: 0px;
}

.pages-pR1>div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@include tablet-lg-up{
    .pages-pR1>div:nth-child(2),
    .pages-pR1>div:nth-child(4) {
        margin-top: 180px;
    }

    .pages-pR1>div:nth-child(odd) {
        margin-top: -180px;
    }

    .pages-pR1>div:nth-child(1),
    .pages-pR1>div:nth-child(3) {
        margin-top: 0px;
    }
}

/* Page Doosan Footer */
/* -------------------------------------------------------------------------- */

.doosan-footer-bg {
    background: url(../images/doosan/doosan-footerBg.png) no-repeat center top / cover;
}