/* 992 - 1200 px [Laptop]*/
@media screen and (max-width: 1200px) {
    .header-container {
        padding-bottom: 33px;
    }

    .header-hiddenMenu {
        line-height: 55px;
        font-size: 50px;

        li {
            margin-bottom: 20px;
        }
    }

    .offer-section {
        padding-top: 260px;
    }

    .offer-yBg {
        margin-left: 130px;
    }

    // ABOUT SECTION
    .about-section {
        padding-top: 105px;
    }

    .about-title {
        padding-bottom: 55px;

        p {
            font-size: 18px;
        }
    }

    .about-tasks {
        padding-bottom: 65px;

        h2 {
            font-size: 47px;
        }
    }

    .tasksCardNumb {
        line-height: 1.2em;
        padding-top: 0;
        padding-left: 20px;
    }

    .tasksCardCaption {
        h3 {
            font-size: 27px;
            margin-bottom: 20px;
        }

        p {
            font-size: 19px;
        }
    }

    .about-videoFrame {
        height: 500px;
    }

    .tasksCard>div {
        margin-bottom: 25px;
    }

    // PALLETE SECTION
    .pallete-section {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .pallete {
        h2 {
            font-size: 47px;
        }
    }

    .pallete-bg {
        width: 50%;
    }


    // TECHNOLOGY SECTION
    .technology-title {
        font-size: 47px;
    }

    .technology-icons>div {
        margin-top: 25px;
        margin-right: 7px;
        height: 70px;
    }

    // PAGES SECTION
    .pages-section {
        padding-bottom: 60px;
    }

    .pages-title h2 {
        font-size: 47px;
    }



    .pages-pR2 img:nth-child(3n-1) {
        margin-right: -6px;
        margin-left: -6px;
    }

    // ADAPTIVE SECTION
    .adaptive-title {
        h2 {
            font-size: 47px;
        }

        p {
            margin-bottom: 50px;
        }
    }

    .adaptive-link {
        padding-top: 45px;
        margin-bottom: 70px;
    }

    .adaptive-imgContainer {
        height: 550px;
    }

    .adImg-Main {
        width: auto;
        height: 550px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .adImg-Left {
        top: 90px;
        right: auto;
        left: 100px;
        width: auto;
        height: 200px;
    }

    .adImg-Right {
        right: 0px;
        top: 228px;
        width: auto;
    }

    .adImg-Bottom {
        width: auto;
        height: 150px;
        right: 330px;
        top: 448px;
    }

    //CONTACTS SECTION
    .contacts-info>div a {
        font-size: 26px;
    }

    .contacts-infoForm {
        padding-left: 70px;

        input {
            height: 40px;
            margin-bottom: 15px
        }

        h2 {
            font-size: 27px;
            margin-top: 45px;
        }

        p {
            margin-bottom: 40px;
            font-size: 18px;
        }
    }

    .footer-section {
        .footerBtn {
            margin-right: 40px;
            margin-top: 55px;
        }
    }
}

/* 768 - 992 px [Tablet]*/
@media screen and (max-width: 991px) {


    .header-container {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .header-links {
        display: none;
    }

    // OFFER SECTION
    .offer-section {
        padding-top: 260px;
    }

    .offer-bBg {
        width: 440px;
    }

    @keyframes bBgAnim {
        from {
            width: 0px;
        }

        to {
            width: 440px;
        }
    }

    .offer-yBg {
        width: 545px;
        padding-right: 20px;
        max-height: 89px;
    }

    @keyframes yBgAnim {
        0% {
            width: 0px;
        }

        100% {
            width: 545px;
        }
    }

    .tasksCardNumb {
        display: flex;
        justify-content: flex-end;
    }

    .offer-titleBlock {
        p {
            font-size: 17px;
        }
    }

    .offer-caption {
        a {
            font-size: 16px;
        }
    }


    // ABOUT SECTION
    .about-title {
        padding-bottom: 50px;

        p {
            font-size: 16px;
        }
    }

    .about-tasks {
        h2 {
            font-size: 45px;
            margin-bottom: 45px;
        }

        .tasksCardNumb {
            text-align: center;
        }
    }

    // PALLETE SECTION
    .pallete-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .pallete {
        h2 {
            font-size: 45px;
        }
    }

    // TECHNOLOGY SECTION
    .technology-section {
        padding-bottom: 70px;
    }

    .technology-icons {
        &>div {
            display: flex;
            justify-content: space-around;
        }
    }

    .technology-img {
        margin-top: 100px;
        height: 400px;
    }

    .pages-section {
        .pages-pR1 {
            text-align: center;
        }

        .pages-pR1 img:first-of-type {
            margin-right: 0;
        }

        .pages-pR2 {
            display: flex;
            flex-wrap: wrap;
            margin-top: 0;
        }

        .pages-pR2 img:nth-child(3n) {
            margin-top: 0;
        }

        .pages-pR2 img:nth-child(even) {
            margin-top: 0;
            margin-left: auto;
        }

        .pages-pR2 img:nth-child(3n-1) {
            margin-top: 0;
        }
    }

    .contacts-section {
        background: rgb(245, 245, 245);
        background: linear-gradient(0deg, rgba(245, 245, 245, 1) 60%, rgba(255, 255, 255, 0) 60%);
    }

    .contacts-info {
        &>div:nth-child(2) {
            margin-top: 40px;
            margin-bottom: 55px;
        }

        &>div:nth-child(3) {
            padding-bottom: 135px;
        }
    }

    .contacts-infoForm {
        input {
            height: 50px;
            margin-bottom: 25px;
        }

        .infoPerData {
            margin-bottom: 30px;
        }
    }

    .wpcf7-form input[type=submit] {
        margin-left: 60%;
    }

    // PAGES SECTION
    .pages-pR1 {
        img {
            margin: 0;
        }
    }

    .pages-pR2 a:nth-child(3n),
    .pages-pR2 a:nth-child(3n-1) {
        margin: 0;
    }

    .pages-pR2 {
        display: flex;
        justify-content: center;
    }

    // ADAPTIVE SECTION
    .adImg-Bottom {
        right: 215px;
    }

    .adImg-Left {
        left: 23px;
    }
}

/* 576px - 768px [Large Mobile]*/
@media screen and (max-width: 767px) {
    .header-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header-toogleButton {
        height: 35px;
        width: 35px;

        &::before {
            top: 17px;
        }

        &::after {
            left: 16px;
        }
    }

    // OFFER SECTION
    .offer-titleBlock {
        h1 {
            font-size: 40px;
        }

        p {
            font-size: 15px;
        }
    }

    .offer-bBg {
        width: 350px;
    }

    .offer-yBg {
        width: 460px;
        margin-left: 45px;

        p {
            max-height: 44px;
        }
    }

    @keyframes bBgAnim {
        from {
            width: 0px;
        }

        to {
            width: 350px;
        }
    }

    @keyframes yBgAnim {
        0% {
            width: 0px;
        }

        100% {
            width: 460px;
        }
    }

    .offer-caption {
        ul {
            display: block;
        }

        li {
            margin-left: 0;
        }
    }

    // ABOUT SECTION

    .about-tasks {
        h2 {
            font-size: 40px;
            margin-bottom: 40px;
        }
    }

    // PALLETE SECTION
    .pallete {
        h2 {
            font-size: 40px;
        }
    }


    // TECHNOLOGY SECTION
    .technology-title {
        font-size: 40px;
    }

    .technology-icons>div {
        margin-right: 22px;
    }

    // PAGES SECTION
    .pages-section {
        padding-bottom: 50px;
    }

    .pages-title {
        h2 {
            font-size: 40px;
        }
    }

    .pages-pR2 img:nth-child(even) {
        margin-left: 0;
    }

    .pages-section .pages-pR2 img:nth-child(3n-1) {
        margin-left: 0;
    }

    .pages-pR2 {
        display: flex;
        justify-content: center;
    }


    // ADAPTIVE SECTION
    .adaptive-title {
        h2 {
            font-size: 40px;
        }

        p {
            max-width: 100%;
            font-size: 18px;
        }
    }

    .adImg-Main {
        height: 380px;
    }

    .adImg-Bottom {
        height: 120px;
        right: 150px;
    }

    .adImg-Right {
        height: 200px;
    }

    // CONTACTS SECTION
    .contacts-infoForm {
        padding-left: 15px;
    }


    // FOOTER SECTION
    .footerBtn {
        margin-top: 40px;
    }
}

/* 480px - 576px [Medium Mobile]*/
@media screen and (max-width: 575px) {

    // OFFER SECTION
    .offer-titleBlock {
        h1 {
            font-size: 35px;
        }
    }

    @keyframes bBgAnim {
        from {
            width: 0px;
        }

        to {
            width: 350px;
        }
    }

    @keyframes yBgAnim {
        0% {
            width: 0px;
        }

        100% {
            width: 383px;
        }
    }

    // ABOUT SECTION
    .about-section {
        padding-top: 80px;
    }

    .about-tasks {

    }

    // PALLETE SECTION
    .pallete-section {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .pallete-title {
        max-width: 100%;

        h2 {
            font-size: 35px;
        }
    }

    .pallete-caption h3 {
        font-size: 25px;
    }

    // TECHNOLOGY SECTION
    .technology-title {
        font-size: 35px;
    }

    .technology-icons>div {
        margin-right: 30px;
    }

    .technology-img {
        margin-top: 50px;
        height: 300px;
    }

    // PAGES SECTION
    .pages-title {
        h2 {
            font-size: 35px;
        }
    }

    // ADAPTIVE SECTION
    .adaptive-title {
        h2 {
            font-size: 35px;
        }

        p {
            font-size: 17px;
            margin-bottom: 45px;
        }
    }

    .adImg-Main {
        height: 280px;
    }

    .adaptive-imgContainer {
        height: 290px;
    }

    .adImg-Left,
    .adImg-Right {
        height: 100px;
    }

    .adImg-Right {
        top: 140px;
    }

    .adImg-Bottom {
        height: 80px;
        top: 255px;
    }

    .adaptive-link {
        margin-bottom: 35px;

        a {
            font-size: 20px;
            margin-top: 15px;
        }
    }

    // CONTACTS SECTION
    .contacts-section {
        background: rgb(245, 245, 245);
        background: linear-gradient(0deg, rgba(245, 245, 245, 1) 62%, rgba(255, 255, 255, 0) 62%);
    }

    .contacts-info>div {
        span {
            font-size: 18px;
        }

        a {
            font-size: 25px;
        }

        &>div:nth-child(1) {
            margin-top: 30px;
        }

        &>div:nth-child(3) {
            padding-bottom: 50px;
        }
    }

    .contacts-infoForm {
        input {
            height: 40px;
        }
    }

    .wpcf7-form input[type=submit] {
        font-size: 25px;
    }

    // FOOTER SECTION
    .footer-section {
        h2 {
            font-size: 27px;
        }
    }

    .footerBtn {
        font-size: 18px;
    }
}

/* 320px - 479px [Small Mobile]*/
@media screen and (max-width: 479px) {
    .header-menuBtn {
        margin-right: 15px;
    }



    // ABOUT SECTION
    .about-title {
        text-align: center;

        &>div:last-of-type {
            margin-top: 30px;
        }
    }

    .about-tasks {
        padding-bottom: 30px;

        h2 {
            text-align: center;
        }
    }


    .pallete-section {
        padding-top: 60px;
        padding-bottom: 70px;
    }

    .pallete-title {
        h2 {
            font-size: 30px;
        }
    }

    .color-types {
        &>div {
            margin-top: 10px;
        }

        &>div:nth-child(3n+1) {
            margin-left: 15px;
        }
    }


    // TECHNOLOGY SECTION
    .technology-section {
        padding-bottom: 60px;
    }

    .technology-title {
        font-size: 30px;
    }

    .technology-icons>div {
        margin-right: 7px;
        margin-left: 7px;
    }

    // PAGES SECTION
    .pages-title {
        padding-bottom: 35px;

        h2 {
            font-size: 30px;
        }
    }

    // ADAPTIVE SECTION
    .adaptive-title {
        h2 {
            font-size: 30px;
        }

        p {
            font-size: 16px;
        }
    }

    .adImg-Main {
        height: 225px;
    }

    .adImg-Bottom {
        height: 70px;
        right: 80px;
        top: 240px;
    }

    .contacts-section {
        background: rgb(245, 245, 245);
        background: linear-gradient(0deg, rgba(245, 245, 245, 1) 66%, rgba(255, 255, 255, 0) 66%);
    }

    .contacts-info {
        &>div a {
            font-size: 19px;
        }
    }

    .contacts-infoForm {
        h2 {
            font-size: 25px;
        }

        p {
            font-size: 16px;
        }
        .wpcf7-form input[type=submit] {
            font-size: 23px;
            margin-left: 43%;
        }
    }

    // FOOTER SECTION
    .footer-section {
        h2 {
            font-size: 22px;
        }
    }

    .footerBtn {
        font-size: 16px;
    }
}